# Maven
/target/
!.mvn/wrapper/maven-wrapper.jar
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties

# IDEs
/.idea/
*.iml
*.ipr
*.iws
/.vscode/

# OS
.DS_Store
Thumbs.db

# Logs
*.log
spring.log

# Environment & Secrets
.env
src/main/resources/application-prod.yml

# Class files
*.class

# Temporary files
*.tmp
*.bak
*.swp
.env*
